.landing{
  box-sizing: border-box;
}

.landing__main {
  width: 100%;
  height: 580px;
  transform: skew();
  background: linear-gradient(
      105deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 40%,
      rgba(0, 0, 0, 0.2) 40%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(../img/croppedM3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: white;
}

.landing__main--content {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 35%;
}

.landing__main--content h1 {
  font-size: 35px;
  letter-spacing: 1.5px;
}

.landing__main--content p {
  margin-top: 20px;
  letter-spacing: 1.5px;
  padding-bottom: 15px;
  font-size: 16px;
}

.landing__main--content .line {
  width: 20%;
  height: 2px;
  background-color: white;
  margin-bottom: 30px;
}

.landing__main--content a {
  letter-spacing: 3px;
  font-weight: bold;
  color: white;
  background-color: rgb(88, 106, 206);
  font-size: 15px;
  line-height: 30px;
  padding: 10px 20px;
}

.landing__main--content a:hover {
  background-color: rgb(206, 76, 76);
}

/* CAR NEWS */

.landing__news {
  display: flex;
  height: 350px;
}

.landing__news--text {
  box-sizing: border-box;
  width: 50%;
  background-color: rgba(97, 146, 192, 0.146);
}

.landing__news--image {
  width: 50%;
}

.landing__news--image img {
  width: 100%;
  height: 100%;
}

.landing__news--text h1:first-child {
  text-align: center;
  letter-spacing: 1.3px;
  padding-top: 20px;
  margin-bottom: 30px;
}

.landing__news--text h1:nth-child(2) {
  padding-left: 10%;
  letter-spacing: 1.3px;
  width: 70%;
  font-size: 20px;
  margin-bottom: 10px;
}

.line-black {
  width: 30%;
  margin-left: 10%;
  height: 2px;
  background-color: black;
}

.landing__news--text p {
  padding-left: 10%;
  width: 80%;
  text-align: justify;
  margin-top: 15px;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
  font-size: 16px;
}
.read-more-news {
  margin-left: 10%;
  border: 1px solid rgb(126, 124, 124);
  padding: 7px 12px;
  letter-spacing: 1.2px;
  color: black;
  text-transform: none;
}
.read-more-news:hover {
  /* background-color: rgb(88, 106, 206);
       */
  background: rgba(206, 76, 76);
  color: white;
  border: none;
}

/* ABOUT */

.landing__about {
  display: flex;
  height: 350px;
}

.landing__about--image {
  width: 50%;
  background: url(../img/about-keys.jpg) center no-repeat;
  background-size: cover;
}

.landing__about--text {
  width: 50%;
  /* padding: 70px */
  letter-spacing: 1.5px;
  background: rgba(206, 76, 76);
  background-position: center;
  color: white;
  background-size: 450px;
  background-repeat: no-repeat;
}

.landing__about--text h1 {
  text-transform: uppercase;
  font-size: 32px;
  margin-bottom: 30px;
  letter-spacing: 2px;
  padding: 20px 10px 0px 70px;
}

.landing__about--text p {
  padding: 10px 70px;
}

/* CONTACT */

.landing__contact {
  width: 80%;
  margin: 0 auto;
  height: 230px;
  padding-top: 50px;
}

.landing__contact h1{
  font-size: 40px;
  font-weight: bold;
}

.landing__contact--text{
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  font-size: 20px;
}

.landing__contact--text li{
  padding-bottom: 5px;
}

.landing__contact--text a{
  color: black;
}

/* FOOTER */

.landing__footer {
  height: 20px;
  background-color: darkgray;
}

.landing__footer h4 {
  text-align: center;
}

@media only screen and (max-width: 992px) {
  .landing__news--text h1:nth-child(1) {
    font-size: 20px;
  }

  .landing__news--text h1:nth-child(2) {
    font-size: 15px;
  }

  .landing__news--text p {
    font-size: 13px;
  }

  .landing__news--text a {
    margin-left: 10%;
    border: 1px solid rgb(126, 124, 124);
    padding: 5px 10px;
    /* letter-spacing: 1.2px; */
    color: black;
    text-transform: none;
  }

  .landing__about--text h1 {
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 30px;
    letter-spacing: 2px;
  }

  .landing__about--text p {
    font-size: 13px;
    padding-left: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .landing__main {
    background: linear-gradient(
        105deg,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0.6) 50%,
        rgba(0, 0, 0, 0.2) 50%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      url(../img/m3_750.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
  }

  .landing__news--text h1:nth-child(2) {
    font-size: 13px;
  }
}

@media only screen and (max-width: 576px) {

  .landing{
    box-sizing: border-box;
  }

  .landing__main--content {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 35%;
  }

  .landing__main--content h1 {
    font-size: 22px;
    letter-spacing: 1.5px;
  }

  .landing__main--content p {
    margin-top: 20px;
    padding-bottom: 15px;
    font-size: 13px;
  }

  .landing__main--content .line {
    width: 40%;
    height: 2px;
    background-color: white;
    margin-bottom: 3rem;
  }

  .landing__main--content a {
    letter-spacing: 3px;
    font-weight: bold;
    color: white;
    background-color: rgb(88, 106, 206);
    font-size: 15px;
    line-height: 30px;
    padding: 5px 10px;
  }

  .landing__news {
    display: block;
    height: auto;
    width: 100%;
  }

  .landing__news--text {
    width: 100%;
    height: 350px;
  }

  .landing__news--text h1 {
    margin: 0;
    padding-bottom: 20px;
  }

  .landing__news--image{
    width: 100%;
    height: auto;
    margin: 0;
  }

  .landing__about{
    display: block;
    width: 100%;
    margin-top: -5px;
    height: 250px;
  }


  .landing__about--image{
    display: none;
  }

  .landing__about--text{
    width: 100%;
    height: 250px;
  }

  .landing__about--text h1{
    margin: 0;
    padding-top: 30px;
    padding-bottom: 25px;
  }

  .landing__contact{
    padding-top: 20px;
  }

  .landing__contact h1{
    font-size: 30px;
  }


  .landing__contact--text a{
    font-size: 18px;
  }

  .landing__contact {
    height: 200px;
  }

}
